﻿@model WebUI.Models.BenefitsCalculatorModel

@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    @Html.Hidden("EmployeeSalary" ,Model.EmployeeSalary.ToString());
    @Html.Hidden("PayCheckPerYear", Model.PayCheckPerYear.ToString());
    @Html.Hidden("CostOfBenefitsEmployee", Model.CostOfBenefitsEmployee.ToString());
    @Html.Hidden("CostOfBenefitsDependent", Model.CostOfBenefitsDependent.ToString());
    @Html.Hidden("DiscountPct", Model.DiscountPct.ToString());

<div >
    <h1>Benefits Cost Calculator</h1>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table  table-hover table-condensed" id="tablecalc">
                    <thead>
                        <tr>
                           
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Type
                            </th>
                            <th class="text-center">
                                Salary
                            </th>
                            <th class="text-center">
                                Discount
                            </th>

                            <th class="text-center">
                                Benefit Cost
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr id='line0'>

                        <td>
                            <input type="text" id='empname' name='empname' placeholder='Name' autocomplete='off' value='' class="form-control input-sm"/>
                        </td>
                        <td>
                            <select id='emptype' name="emptype" class="form-control input-sm"><option value="E">Employee</option><option value="D">Dependent</option></select>
                        </td>
                        <td>
                            <input type='text' id='salary' name='salary' readonly autocomplete='off' class="form-control disabled input-sm"/>
                        </td>
                        <td>
                            <input type='text' id='benefitdisc' name='benefitdisc' readonly autocomplete='off' class="form-control disabled input-sm col1"/>
                        </td>
                        <td>
                            <input type='text' id='benefitcost' name='benefitcost' readonly autocomplete='off' class="form-control disabled input-sm col2"/>
                        </td>

                    </tr>
                    <tr id='line1'></tr>
                    </tbody>
                    <tfoot>
                    <tr><td>Totals</td><td></td><td></td><td><input type='text' id='gtotbenefitdisc' autocomplete='off' name='gtotbenefitdisc' readonly class="form-control disabled input-sm" /></td><td><input type='text' id='gtotbenefitcost' name='gtotbenefitcost' readonly autocomplete='off' class="form-control disabled input-sm" /></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <a id="add_row" class="btn btn-default pull-left">Add Person</a>
    </div>
</div>

             
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            var i = 1;
            $("#add_row").click(function () {
                
                $('#line' + i).html("<td><input type='text' id='empname' name='empname'  placeholder='Name' class='form-control input-sm' /></td><td><select name='emptype' id='emptype' class='form-control input-sm'><option value='E'>Employee</option><option value='D'>Dependent</option></select></td><td><input type='text' name='salary' id='salary' readonly value='" + $('#EmployeeSalary').val() + "' class='form-control disabled input-sm' /></td><td><input type='text' name='benefitdisc' id='benefitdisc' readonly value='0' class='form-control disabled input-sm col1' /></td><td><input type='text' name='benefitcost' id='benefitcost' readonly value='" + $('#CostOfBenefitsEmployee').val() + "' class='form-control disabled input-sm col2' /></td>");
                $('#tablecalc').append('<tr id="line' + (i + 1) + '"></tr>');
                i++;
                calcSum();

            });
  
        });
        $('#tablecalc').on('blur', '#empname', function (e) {
            var row = $(this);
            checkRow(row);
            calcSum();
            return true;
        });
        $('#tablecalc').on('blur', '#emptype', function (e) {
            var row = $(this);
            checkRow(row);
            calcSum();
            return true;
        });
        function checkRow(row) {
            var curRow = row.closest('tr');
            curRow.find('#benefitdisc').val(0);
            switch (curRow.find('#emptype').val()) {
                case 'E':
                    curRow.find('#benefitcost').val($('#CostOfBenefitsEmployee').val());
                    curRow.find('#salary').val($('#EmployeeSalary').val());
                    break;
                case 'D':
                    curRow.find('#benefitcost').val($('#CostOfBenefitsDependent').val());
                    curRow.find('#salary').val(0);
                    break;
                default:
                    curRow.find('#benefitcost').val($('#CostOfBenefitsEmployee').val());
                    curRow.find('#salary').val($('#EmployeeSalary').val());
            }
            if (curRow.find('#empname').val().toLowerCase().substring(0, 1) == 'a') {
                var discountedrate = 0;
                var discount = parseInt($('#DiscountPct').val());
                var costofbenefits = parseInt(curRow.find('#benefitcost').val());
                discountedrate = Math.round((costofbenefits / discount) * 100) / 100;
                curRow.find('#benefitdisc').val(discountedrate);
                curRow.find('#benefitcost').val(costofbenefits - discountedrate);
            }
           
        }
        function calcSum() {
            var gtotcost = 0;
            $('.col2').each(function () {
                var thisAmt = parseInt($(this).val());
                if (!isNaN(thisAmt)) {

                    gtotcost += thisAmt;
                }

                $('#gtotbenefitcost').val(gtotcost);
            });
            var gtotdisc = 0;

            $('.col1').each(function () {
                var thisAmt = parseInt($(this).val());
                if (!isNaN(thisAmt)) {
                    gtotdisc += thisAmt;
                }

                $('#gtotbenefitdisc').val(gtotdisc);
            });
        }
    </script>
}